# Core Web & API Frameworks
fastapi
uvicorn
Flask
flask-restful
requests
aiohttp

# Telegram & Automation
telethon
aiocron
watchdog

# Data Handling & Analysis
pandas
numpy
openpyxl
SQLAlchemy

# Language & Text (No Translation)
arabic-reshaper
python-bidi

# Media, Files & PDF/Image Generation
Pillow
mutagen
qrcode
fpdf2
reportlab
pySmartDL
ffmpeg
pdf2image

# Web Scraping & Parsing
beautifulsoup4
lxml
fake_useragent
user_agent

# General Purpose & Utilities
annotated-types
anyio
blinker
Brotli
certifi
cffi
charset-normalizer
click
gtts
contourpy
cryptography
cssselect2
cycler
defusedxml
distro
et_xmlfile
fonttools
greenlet
h11
html5lib
itsdangerous
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
narwhals
oscrypto
packaging
plotly
pycparser
pydantic
pydantic_core
pydyf
pyee
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
pyphen
python-dateutil
pytz
PyYAML
seaborn
six
sniffio
soupsieve
ssh-import-id
starlette
supervisor
svglib
tabulate
tinycss2
tinyhtml5
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritools
urllib3
weasyprint
webencodings
Werkzeug
xhtml2pdf
zopfli
emoji
ping3
pybase64
